.contents.tires-page {
    padding: 80px;
    width: 100%;
}

.tire-product-list {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.tire-product {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tire-product img {
    width: 60%;
    padding: 60px 60px 10px 60px;
}

span.strike-through {
    text-decoration: line-through;
    color: grey;
}

/* css for sale badge */
.sale-badge {
    background-color: red;
    border-radius: 3px;
    color: white;
    padding: 0 3px;
    font-size: 15px;
    font-weight: bold;
}

/* for mobile */
@media only screen and (max-width: 425px) {
    .contents.tires-page {
        padding: 30px;
        width: 100%;
    }

    .tire-product {
        flex-basis: calc(100% - 20px);
    }
 
    .tire-product img {
        width: 50%;
        padding: 10px;
    }
}

/* for tablet */
@media only screen and (min-width: 426px) and (max-width: 1024px) {
    .contents.tires-page {
        padding: 30px;
    }

    .tire-product {
        flex-basis: calc(50% - 20px);
    }

    .tire-product img {
        width: 50%;
        padding: 10px;
    }
}